pkgbase = angie-bin
	pkgdesc = Actively developing fork of nginx aiming to keep it great with brand new extra functionality.
	pkgver = 1.9.1
	pkgrel = 1
	url = https://en.angie.software/
	arch = x86_64
	arch = aarch64
	license = BSD-2-Clause
	depends = glibc
	depends = gd
	depends = perl
	depends = libedit
	depends = libldap
	depends = libxcrypt-compat
	depends = libxml2-legacy
	depends = hiredis
	depends = jansson
	depends = lua53
	depends = libxslt
	depends = ffmpeg4.4
	depends = libmaxminddb
	depends = openssl
	depends = pcre2
	depends = zlib
	depends = brotli
	depends = postgresql-libs
	depends = yajl
	depends = krb5
	noextract = angie_1.9.1-1~noble_arm64.deb
	noextract = angie_1.9.1-1~noble_amd64.deb
	source_x86_64 = https://download.angie.software/angie/ubuntu/24.04/pool/main/a/angie/angie_1.9.1-1~noble_amd64.deb
	sha256sums_x86_64 = 5eb3d9adc4b4ef07ed509aa9b2525795ffc527519d7f20f39687e546785bd64c
	source_aarch64 = https://download.angie.software/angie/ubuntu/24.04/pool/main/a/angie/angie_1.9.1-1~noble_arm64.deb
	sha256sums_aarch64 = 2247b27075c9e5f6e06648029891d6780707e7f9920f4c2a87c28f864df4f1df

pkgname = angie-bin
