pkgbase = emmet-language-server
	pkgdesc = A language server for emmet.io
	pkgver = 2.6.1
	pkgrel = 2
	url = https://www.npmjs.com/package/@olrtg/emmet-language-server
	arch = any
	license = MIT
	makedepends = npm
	depends = nodejs
	noextract = emmet-language-server-2.6.1.tgz
	source = https://registry.npmjs.org/@olrtg/emmet-language-server/-/emmet-language-server-2.6.1.tgz
	source = LICENSE-2.6.1::https://raw.githubusercontent.com/olrtg/emmet-language-server/refs/tags/v2.6.1/LICENSE
	sha256sums = 578b85af828393585f1ba46469e14a059be6b2f11b906233d0c0447fc1795a68
	sha256sums = b6f2eebb6983c993a6e12614cc806838de3835ce8931e9f08e3538ee89ada3f1

pkgname = emmet-language-server
